<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>안녕</h1>
    <!-- 데이터를 보낼때 post로 보내는 방법 2가지
    1) ajax post 메서드 2) <form> name""으로 받는다 -->
    <form action="/add" method="POST">
      <input type="text" name="subject" id="subject" />
      <textarea name="contents" id="contents" cols="30" rows="10"></textarea>
      <button>send</button>
    </form>
    <script>
      // $.ajax({ url: "/add", method: "post" });
      $("#contents").val();
    </script>
  </body>
</html>
